<div class="card pokemon-card" style="width: 18rem;"
     onclick="choose(<%= pokemon.id %>);">
  <%= image_tag pokemon.image_path, class: "card-img-top pokemon-card-image" %>
  <div class="card-body">
    <h5 class="card-title"><%= pokemon.name %></h5>
    <p class="card-text">
      <span class="pokemon-card-type"><b>Type</b> <%= pokemon.type_one %></span>
      <span class="pokemon-card-hp"><b>HP</b> <%= pokemon.hp %></span>
    </p>
    <a href="#" class="btn btn-primary">Choose</a>
  </div>
</div>
