<style>
  .deck {
    height: 100%;
    width: 150px;
    background-color: #eeeeee;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 15px;
  }
  #deck-1 {
    left: 0;
  }
  #deck-2 {
    right: 0;
  }
  .deck .card {
    height: 15%;
    width: 100px;
    margin-top: 3%;
    background-color: #ffffff;
    padding: 10px;
  }
  .card img {
    width: 100%;
    height: auto;
  }
  .health-bar {
    margin-top: 10px;
    width: 100%;
    height: 8px;
    background-color: #eeeeee;
  }
  .health {
    height: 100%;
    background-color: red;
  }
  .dead {
    opacity: 0.4;
  }

  #message-board {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 60%;
    height: 80px;
    text-align: center;
    font-size: 48px;
    background-color: #eeeeee;
  }

  #arena {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 60%;
    height: 400px;
  }

  #arena .card {
    width: 300px;
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid #dddddd;
    padding: 30px;
  }

  #arena .card.current-turn {
    border: 1px solid green;
  }

  #arena-card-1 {
    float: left;
  }

  #arena-card-2 {
    float: right;
  }

  .attack-btn {
    margin-top: 20px;
    width: 100%;
  }

  .card-name {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }

  .card-stats {
    display: block;
    height: 20px;
  }

  .card-stat {
    display: inline-block;
  }

  .card-type {
    float: left;
  }

  .card-hp {
    float: right;
  }

  #battle-multiple-choice {
    padding: 20px;
  }

  #battle-multiple-choice-question {
    margin-bottom: 10px;
  }

</style>


<div id="deck-1" class="deck">
  <% @game.player_one.pokemon_cards.each do |card| %>
    <div class="card" data-card-id="<%= card.id %>">
      <%= image_tag card.image_path %>
      <div class="health-bar">
        <div class="health"></div>
      </div>
    </div>
  <% end %>
</div>

<div id="deck-2" class="deck">
  <% @game.player_two.pokemon_cards.each do |card| %>
    <div class="card" data-card-id="<%= card.id %>">
      <%= image_tag card.image_path %>
      <div class="health-bar">
        <div class="health"></div>
      </div>
    </div>
  <% end %>
</div>

<div id="message-board">
  <span class="current-player-name"><%= @game.current_player.name %></span>, Choose your attack!
</div>

<div id="arena">
  <div id="arena-card-1" class="card current-turn" data-card-id="<%= @game.player_one.active_card.id %>">
    <div class="card-stats">
      <div class="card-stat card-type"><%= @game.player_one.active_card.type_one %></div>
      <div class="card-stat card-hp">
      	<span class="card-hp-span"><%= @game.player_one.active_card.hp %></span> HP
      </div>
    </div>
    <%= image_tag @game.player_one.active_card.image_path %>
    <div class="card-name"><%= @game.player_one.active_card.name %></div>
    <div class="health-bar">
      <div class="health"></div>
    </div>
    <button type="button" class="btn btn-primary attack-btn attack-btn-1"></button><br>
    <button type="button" class="btn btn-primary attack-btn attack-btn-2"></button>
  </div>
  <div id="arena-card-2" class="card" data-card-id="<%= @game.player_two.active_card.id %>">
    <div class="card-stats">
      <div class="card-stat card-type"><%= @game.player_two.active_card.type_one %></div>
      <div class="card-stat card-hp">
      	<span class="card-hp-span"><%= @game.player_two.active_card.hp %></span> HP
      </div>
    </div>
    <%= image_tag @game.player_two.active_card.image_path %>
    <div class="card-name"><%= @game.player_two.active_card.name %></div>
    <div class="health-bar">
      <div class="health"></div>
    </div>
    <button type="button" class="btn btn-primary attack-btn attack-btn-1"></button><br>
    <button type="button" class="btn btn-primary attack-btn attack-btn-2"></button>
  </div>
</div>

<div class="modal fade" id="battle-message-modal" tabindex="-1"
     role="dialog" aria-labelledby="battle-message-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="battle-message-modal-label">
          <span id="battle-message-modal-title"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="battle-message-modal-body">
        <div id="battle-message"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          id="battle-message-modal-ok-btn" onclick="startTurn();">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="battle-multiple-choice-modal" tabindex="-1"
     role="dialog" aria-labelledby="battle-multiple-choice-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="battle-multiple-choice-modal-label">
          <span id="battle-multiple-choice-modal-title">Make it super effective!</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="battle-multiple-choice">
        <div id="battle-multiple-choice-question"></div>
        <form>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="multiple_choice_answer"
              id="multiple-choice-1">
            <label class="form-check-label" for="multiple-choice-1"
              id="multiple-choice-1-label">
              Answer 1
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="multiple_choice_answer"
              id="multiple-choice-1">
            <label class="form-check-label" for="multiple-choice-1"
              id="multiple-choice-1-label">
              Answer 1
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="multiple_choice_answer"
              id="multiple-choice-1">
            <label class="form-check-label" for="multiple-choice-1"
              id="multiple-choice-1-label">
              Answer 1
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="multiple_choice_answer"
              id="multiple-choice-1">
            <label class="form-check-label" for="multiple-choice-1"
              id="multiple-choice-1-label">
              Answer 1
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          id="battle-multiple-choice-modal-ok-btn">
          Go!
        </button>
      </div>
    </div>
  </div>
</div>

<script>

  window.game = null;

  function showMessage(title, message) {
    $("#battle-message-modal-title").html(title);
    $("#battle-message").html(message);
    $("#battle-message-modal").modal();
  }

  function startTurn() {
    $.ajax({
      url: "<%= state_game_path(@game) %>",
      type: "GET",
      error: function(xhr, status) {
        alert("Error: " + status);
      },
      success: function(res) {
        console.log("Success", res);
        setGameState(res);
      },
    });
  }

  function setGameState(game) {
    window.game = game;
    $(".current-player-name").html(game.players[game.turn-1].name);
    $(".card").removeClass("current-turn");
    $("#arena-card-"+game.turn).addClass("current-turn");
    $("#arena-card-1").data("card-id", game.players[0].active_card.id);
    $("#arena-card-2").data("card-id", game.players[1].active_card.id);
    for (playerIdx in game.players) {
    	var deck = game.players[playerIdx].deck;
    	for (cardIdx in deck) {
        setCard(deck[cardIdx], playerIdx == game.turn - 1);
    	}
    }
    if (game.ended) {
      showMessage(game.winner + " wins!", game.winner + " is true a Pokemon master!");
    }
  }

  function setCard(card, isCurrentTurn) {
    $card = $(".card[data-card-id="+card.id+"]");
    $card.find("img").prop("src", "/assets/"+card.image);
    $card.find(".health").css("width", ""+((card.health*100)/card.hp)+"%");
    if (card.alive) {
      $card.removeClass("dead");
    } else {
      $card.addClass("dead");
    }
    $card.find(".card-type").html(card.type);
    $card.find(".card-hp-span").html(card.hp);
    $card.find(".card-name").html(card.name);
    $card.find(".attack-btn-1").html(card.attacks[0].name).
      data("attack-id", card.attacks[0].id).
      unbind("click").click(function() {
        if (isCurrentTurn)
          chooseAttack(card.attacks[0].id);
      });
    $card.find(".attack-btn-2").html(card.attacks[1].name).
      data("attack-id", card.attacks[1].id).
      unbind("click").click(function() {
        if (isCurrentTurn)
          chooseAttack(card.attacks[1].id);
      });
  }

  function chooseAttack(attackID) {
    // TODO fill in logic
    attack(attackID, false);
  }

  function attack(attackID, isSuperEffective) {
    var url = "<%= battle_attack_game_path(@game) %>?" +
      "attack_id=" + attackID;
    if (isSuperEffective) url += "&is_super_effective=true";
    $.ajax({
      url: url,
      type: "GET",
      error: function(xhr, status) {
        alert("Error during attack: " + status);
      },
      success: function() {
        console.log("Success");
      },
    });
  }

  $(function() {
    startTurn();
  })

</script>