<div class="jumbotron">
  <h1 class="display-4">
    Player <span id="player-number">1</span>, choose your Pokemon!
  </h1>
</div>
<table>
  <tr>
    <% idx = 0 %>
    <% @pokemon.each do |p| %>
      <td>
        <%= render partial: "pokemon_card", locals: { pokemon: p } %>
      </td>
      <% idx += 1 %>
      <% if idx % 3 == 0 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="show-modal-btn"
  data-toggle="modal" data-target="#exampleModal" style="display: none;">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <span id="choose-modal-title"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="choose-modal-body">
        <div id="choose-multiple-choice" style="display: none;">
          <span id="choose-multiple-choice-question"></span>
          <%= form_tag answer_mega_question_game_path(@game),
            id: "choose-multiple-choice-form", remote: true do |f| %>
            <% [1, 2, 3, 4].each do |i| %>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="multiple_choice_answer"
                  id="multiple-choice-<%= i %>">
                <label class="form-check-label" for="multiple-choice-<%= i %>"
                  id="multiple-choice-<%= i %>-label">
                </label>
              </div>
            <% end %>
          <% end %>
        </div>
        <div id="choose-short-answer" style="display: none;">
          <span id="choose-short-answer-question"></span>
          <form id="choose-short-answer-form">

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          id="choose-modal-multiple-choice-btn" style="display: none;"
          onclick="onSubmitMultipleChoice();">
          Submit
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          id="choose-modal-short-answer-btn" style="display: none;">
          Submit
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          id="choose-modal-continue-btn">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  window.playerNumber = 1;

  function setPlayerState(playerNumber) {
    window.playerNumber = playerNumber;
    $("#player-number").html("" + playerNumber);
  }

  function choose(pokemonID) {
    console.log("Player " + playerNumber + " chooses " + pokemonID);
    $.ajax({
      url: "<%= choose_game_path(@game) %>?" +
        "pokemon_base_id=" + pokemonID +
        "&player_number=" + playerNumber,
      type: "GET",
      error: function(xhr, status) {
        alert("Error: " + status);
      },
      success: function() {
        console.log("Success");
      },
    });
    $("#choose-card-"+pokemonID).css("opacity", "0.4");
    $("#pokemon-choose-button-"+pokemonID).remove();
  }

  function setModalState(state) {
    var submitBtns = {
      "multiple-choice": [
        "choose-modal-multiple-choice-btn",
        "choose-multiple-choice",
      ],
      "short-answer": [
        "choose-modal-short-answer-btn",
        "choose-short-answer",
      ],
      "chose": [
        "choose-modal-continue-btn",
      ],
    };
    for (s in submitBtns) {
      for (var idx in submitBtns[s]) {
        if (s == state) {
          $("#" + submitBtns[s][idx]).show();
        } else {
          $("#" + submitBtns[s][idx]).hide();
        }
      }
    }
    window.scrollTo(0, 0);
    $("#exampleModal").modal();
  }

  function showChooseMessage(playerName, pokemonName, isMega) {
    var fullPokemonName = isMega ? "MEGA " + pokemonName : pokemonName;
    $("#choose-modal-title").html(playerName + " chose " + fullPokemonName + "!");
    setModalState("chose");
  }

  var multipleChoice = {};

  function showMultipleChoice(question, answers, playerID, cardID, questionID) {
    $("#choose-modal-title").html("Answer correctly to make it Mega!");
    $("#choose-multiple-choice-question").html(question);
    for (var idx in answers) {
      var answerIdx = parseInt(idx) + 1;
      var answer = answers[idx];
      $("#multiple-choice-" + answerIdx + "-label").html(answer);
      $("#multiple-choice-" + answerIdx).val(answer).click(function() {
        multipleChoice.multiple_choice_answer = $(this).val();
      }).prop("checked", false);
    }
    multipleChoice = {
      question_type: "multiple-choice",
      player_id: playerID,
      card_id: cardID,
      question_id: questionID,
      multiple_choice_answer: null,
    };
    setModalState("multiple-choice");
  }

  function onSubmitMultipleChoice() {
    console.log("<%= answer_mega_question_game_path(@game) %>");
    $.ajax({
      url: "<%= answer_mega_question_game_path(@game) %>",
      type: "POST",
      data: multipleChoice,
      dataType: "script",
      success: function() {
        console.log("Multiple choice success");
        setTimeout(function() {
          $("#exampleModal").modal();
        }, 1000);
      },
      error: function(xhr, status, error) {
        console.log("Multiple choice error", error);
      }
    });
  }

  function onDecksFull() {
    $("#choose-modal-title").html("Decks are full! Ready to battle?");
    setModalState("chose");
    $(document).click(function() {
      window.location = "<%= battle_game_path(@game) %>";
    });
  }

  $(function() {
    setPlayerState(
      <%= @game.player_one.pokemon_cards.count < Game.DECK_SIZE ? '1' : '2' %>);
  });
</script>
